<div class="main-container">
<div class="container">
    <header>
        <nav class="sidevav">
                <img class="logo" src="../../assets/logo.png">   
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/services" class="w3-button w3-bar-item">Services</a>
            <a routerLink="/contact" class="w3-button w3-bar-item">Contact</a>
        </nav>
                 
    </header>
    
     
     <h1 class="text"><i>SWEET-HOME <br>BOUTIQUE HOTEL</i></h1>
     <div class="ex1"><img class="slide" src="https://images.unsplash.com/photo-1444201983204-c43cbd584d93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" width="1000" height="500"><button class="btn" routerLink="/booking" routerLinkActive="active" type="submit">BOOK NOW</button><p class="gg" align="center"><span>☆</span><span>☆</span><span>☆</span>This double room is intended for two people, usually a couple, to stay in.<br>
            One person occupying a double room has to pay a supplement.<br>
            She needs two double rooms for four guests.<br>
            Our double room can accommodate two people.<span>☆</span><span>☆</span><span>☆</span></p><hr align="left" width="100%" color="orange"> <img class="slide" src="https://images.unsplash.com/photo-1560185893-d9680d601385?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" width="1000" height="500"><p class="gg" align="center"><span>☆</span><span>☆</span><span>☆</span>This triple room is intended for not more than three people, usually friends/family/team, to stay in.<br>
                One person occupying a triple room has to pay a supplement.<br>
                Our triple rooms can accommodate three people.<span>☆</span><span>☆</span><span>☆</span></p><hr align="left" width="100%" color="green"><img class="slide" src="https://images.unsplash.com/photo-1524061614234-8449637d36ce?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80" width="1000" height="500"><p class="gg" align="center">This triple room is intended for not more than three people, usually friends/family/team, to stay in.</p><br>
        <img class="slide" src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" width="1000" height="500"><p class="gg" align="center">This triple room is intended for not more than three people, usually friends/family/team, to stay in.</p><img class="slide" src="https://images.unsplash.com/photo-1533633310920-cc9bf1e7f9b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" width="1000" height="500"><p class="gg" align="center">ytrhgdfsbbdl;l</p><img class="slide" src="../../assets/pexels-double-broom.jpeg" width="1000" height="500"><p class="gg" align="center">This triple room is intended for not more than three people, usually friends/family/team, to stay in.</p><br>
        <img class="slide" src="https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" width="1000" height="500"><p class="gg" align="center">This double room is intended for two people, usually a couple, to stay in.</p>
    </div>
</div>
</div>