.main-container{
  background-image: url("https://images.unsplash.com/photo-1420661597896-f39734924a3a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    
}
.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height:100%;
    
    }
    body{
      text-align: center;
    }
    
    .sidevav{
        background-color: orange;
        display: flex;
      }    
      .sidebar {
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
      }
    .logo{
      margin: 0;
      padding: 0;
      width: 100px;
      height: 10%;
      overflow: auto;
      font: bold;
    } 
    
    .sidebar a {
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
    }
    .sidebar a.active {
      background-color: orange;
      color: white;
    }
    
    .sidebar a:hover:not(.active) {
      background-color: #555;
      color: white;
    }

    header nav a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
      }
      header nav a.active {
        background-color: orange;
        color: white;
      }
      header nav a:hover:not(.active) {
        background-color: #555;
        color: white;
      }

    div.ex1 {
        background-color: white;
        height: 1000px;
        width: 1000px;
        overflow-y: scroll;
        background-size: cover
      }
      
      div.ex2 {
        background-color: lightblue;
        height: 40px;
        width: 200px;  
        overflow-y: hidden;
      }
      
      div.ex3 {
        background-color: lightblue;
        height: 40px;
        width: 200px;  
        overflow-y: auto;
      }
      
      div.ex4 {
        background-color: lightblue;
        height: 40px;
        width: 200px;  
        overflow-y: visible;
      }
      .text{
          text-align: center;
      }
      .container img {
        
        height: auto;
      }
      
      .container .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: orange;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
      }
      
      .container .btn:hover {
        background-color: black;
      }