<html>
    <div class="main-container">
    <div class="container">
    <div class="services">
        <header>              
           <nav class="sidevav">
                <img class="logo" src="../../assets/logo.png">
              <a routerLink="/home" class="w3-button w3-bar-item">Home</a>
              <a routerLink="/services" routerLinkActive="active">Services</a>
              <a routerLink="/contact" class="w3-button w3-bar-item">Contact</a>
            </nav>
            <br>    
            
            <div class="name">
                    <div id="align">
                       <br><br><h3>BOUTIQUE HOTEL</h3>
                       <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                    </div>
                   <hr align="center" width="100%" color="orange"> 
                </div>
        </header>
        <body>
                <div class="slider">
                        <div class="sliderchild">
                            <div class="imagecon">
                                <!-- slide1 -->
                            </div>
                        </div>
                </div>
                <hr align="left" width="100%" color="orange">
          
            <div class="btn-group">
                    <button id="me" routerLink="/galary" routerLinkActive="active">VIEW ROOM</button>
                    <button id="me" routerLink="/booking" routerLinkActive="active">BOOK NOW</button>
                  </div>
            <div id="link">
            </div>
            <hr align="center" width="100%" color="orange">
        </body>
        <footer class="down">
            <div>
            
           </div>
           <table border="10">
              <thead>
                  <tr>
                      <th>Room Type</th>
                      <th>Rate in Rands</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Double</td>
                      <td>From R850 per person FOR 2 days</td>
                  </tr>
                  <tr>
                      <td>Twin</td>
                      <td>From R400 per person FOR 2 days</td>
                  </tr>
                  <tr>
                      <td>Triple</td>
                      <td>From R500 per person</td>
                  </tr>
                
              </tbody>
          </table>
           <div>
               <h3>SERVICES</h3>
               <div class="row">
                  <div class="column" style="background-color:orange">
                    <img class="p1" src="https://images.unsplash.com/photo-1522248105696-9625ba87de6e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80">
                  </div>
                  <div class="column" style="background-color:orange">
                    <img class="p1" src="https://images.unsplash.com/photo-1507226983735-a838615193b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
                  </div>
                  <div class="column" style="background-color:orange">
                          <img class="p1" src="https://images.unsplash.com/photo-1540304453527-62f979142a17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
                  </div>

                  
      
                  <div class="column" style="background-color:orange">
                          <img class="p1" src="https://images.unsplash.com/photo-1510693206972-df098062cb71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1201&q=80">
                        </div>
                        <div class="column" style="background-color:orange">
                          <img class="p1" src="https://images.unsplash.com/photo-1537154835319-14f43d91ea98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
                        </div>
                        <div class="column" style="background-color:orange">
                                <img class="p1" src="https://images.unsplash.com/photo-1559934303-74c6434ad39f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80">
                        </div>
                        <div class="column" style="background-color:orange">
                              <img class="p1" src="https://images.unsplash.com/uploads/141148589884100082977/a816dbd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
                            </div>
                            <div class="column" style="background-color:orange">
                              <img class="p1" src="https://images.unsplash.com/photo-1525721653822-f9975a57cd4c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
                            </div>
                            <div class="column" style="background-color:orange">
                                    <img class="p1" src="https://images.unsplash.com/photo-1514672013381-c6d0df1c8b18?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60">
                            </div>
          </div>
                <div>
                
                    <div>
                        <!-- <table style="width: 50%" align="center">
                            <tr>
                                            <th>Room Type:</th>
                                            <td>Double Room</td>
                                            <td>Twin Room</td>
                                            <td>Triple Room</td>
                                            <td>Quad Room</td>
                                          </tr>
                                          <tr>
                                            <th>Rates in Rands:</th>
                                            <td>From R350 per person</td>
                                            <td>From R400 per person</td>
                                            <td>From R500 per person</td>
                                            <td>From R550 per person</td>
                            </tr>     
                        </table> -->

                
                    </div>
            </div>
        </div>
<br><br>
        </footer>
    </div>
   
</div>
</div>
</html>

