<html>
    <div class="main-container">
    <div class="container">
    <header>
        <nav class="sidevav">
                <img class="logo" src="../../assets/logo.png">
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/services" class="w3-button w3-bar-item">Services</a>
            <a routerLink="/contact" class="w3-button w3-bar-item">Contact</a>
          </nav>
          <br>
    </header>
    <body>
            <h3>BOUTIQUE HOTEL</h3>
        <div class="slider">
            <div class="sliderchild">
                <div class="imagecon">
                            
                </div>
            </div> 
        </div>
        <div style="text-align:center">

        <!--Dots underneath the picture -->
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span>
        </div>
        <hr align="left" width="100%" color=" orange">
        <div class="bottom">
            <h3>Mission</h3>
            <p>The mission of the <b>Vintage Luxury Boutique Hotel</b> is to put hospitality services on the highest level in order to satisfy the demands and expectations of guests. Our aim is to make the Hotel Grand a place for encounters, business success, pleasant meetings and gala ceremonies.</p>
            
            <h3>Objective</h3>
            <p><br>

                <b>1. World-class quality service</b><br>
                
                Guest satisfaction is the most important thing for us and we try with our quality of services to exceed their expectations. Our goal is to make every guest feel like at home and that for this reason he chooses Hotel Grand again for his accommodation facility.We provide services at the highest level that will meet the needs and expectations of guests and will recognize their requirements through open communication, satisfaction monitoring and analysis of compliments and complaints.<br><br>
                
               </p>
                <hr align="left" width="100%" color="orange">
        </div>
    </body>
</div>  
</div>
</html>